Flask==3.0.2
pymongo==4.6.1
python-dotenv==1.0.1
twilio==9.0.0
cloudinary==1.41.0
razorpay==2.0.1
dnspython==2.6.1
requests==2.31.0
sib-api-v3-sdk==7.6.0
Werkzeug==3.0.1
Authlib==1.7.0
joserfc==1.6.4
xhtml2pdf==0.2.16
reportlab==4.1.0
Pillow>=10.0.0
email-validator
gunicorn

ankushsachan255@gmail.com